
.swiperSlide {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  background-color: #143D59;
  margin: -5px auto 40px;
}

.single {
  /* padding: 5px; */
  color: #FFF;
  margin: 0 auto;
  /* height: 19vh; */
}

.single img {
  width: 64vw;
  height: 50vh;
  margin-bottom: -5px;
}