.content{
  max-width: 1990px;
  width: 100%;
  
}

.container {
  max-width: 1980px;
  width: 100vw;
  background-color: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: -5px auto 40px;
}

.content ::after{
  color: #282c34;
  margin-right: 20px;
}

.single{
  max-width: 1990px;
  width: 100%;
}

.single img {
  width: 100vw;
  height: 50vh;
  margin-bottom: -3px;
  cursor: pointer;
  object-fit: cover;
  object-position: 100% 30%;
  overflow: hidden;
}

@media(max-width: 768px){
  .single img {
    width: 100vw;
    height: 30vh
  }
}