.container {
  width: 100%;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  margin: -5px auto 40px;
}

.container ::after{
  color: #282c34;
}

.single {
  color: #FFF;
  margin: 0 auto;
}

.single img {
  width: 64vw;
  height: 50vh;
  margin-bottom: -5px;
  cursor: pointer;
}